html,body{
    font-size: 16px;
}
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.nav{
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    h1{
        font-size: 2rem;
        margin-left: 1rem;
        height: 100%;
        width: 60px;
        float: left;
        line-height: 50px;
    }
    h1:hover{
        border-bottom: 2px solid #3b6caa;
    }
    ul{
        margin-left: 20px;
        float: left;
        height: 100%;
        li{
            float: left;
            font-size: 1rem;
            line-height: 50px;
            margin-left: 15px;
            a{
                color: #000;
            }
        }
        li:nth-child(1){
            margin-left: 0;
            .find{
                position: fixed;
                top: 50px;
                left: 0;
                width: 30%;
                height: 614px;
                background: lightgray;
                padding-left: 10%;
                line-height: 50px;
                font-size: 1rem;
                display: none;
                z-index: 1;
                h2{
                    margin-left: 10px;   
                }
                .allProducts{
                    margin: 0 10px;
                    padding-left: 20px;
                    border-bottom: 1px solid gray;
                }
                .analytics{
                    margin:auto 10px;
                    padding-left: 20px;
                    span{
                        display: none;
                    }
                }
            }
            .findright{
                position: absolute;
                top: 50px;
                right: 0;
                width: 60%;
                height: 614px;
                display: none;
                background: white;
                z-index: 1;
                .leftConnet{
                    float: left;
                    width: 40%;
                    h2{
                        font-size: 2rem;
                        margin: 30px auto 20px 20px;
                        color: #3b6caa;
                    }
                    h3{
                        line-height: 50px;
                        margin-left: 20px;
                    }
                    .test{
                        margin-left: 20px;
                        line-height: 40px;
                        color: #3b6caa;
                    }
                    .test:hover {
                        text-decoration: underline;
                    }
                }
                .rightConnet{
                    width: 50%;
                    float: right;
                    padding-right: 10%;
                    h4{
                        margin-top: 90px;
                    }
                    img{
                        margin-left: 10px;
                    }
                    p{
                        line-height: 20px;
                        color: #3b6caa;
                    }
                    p:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        li:hover{
            border-bottom: 2px solid #3b6caa;
        }
        li:hover a{
            color: #3b6caa;
        }
    }
    .nav-r{
        float: right;
        height: 100%;
        padding-right: 30px;
        .box{
            float: right;
            height: 50px;
            cursor: pointer;
            span{
                margin-left: 25px;
                font-size: 20px;
                text-align: center;
                line-height: 50px;
            }
            .zhezhao{
                height: 100%;
                width: 100%;
                position: fixed;
                top: 0;
                left: 0;
                background: rgba(0,0,0,0.3);
                z-index: 99;
                display: none;
                .rightnav{
                    height: 100%;
                    width: 30%;
                    position: fixed;
                    top: 0;
                    right: -30%;
                    background: #fff;
                    .rightnavTest{
                        line-height: 50px;
                        padding-left: 20px;
                        padding-right: 20px;
                        .rightnavTests{
                            height: 50px;
                            p{
                                float: left;
                            }
                            span{
                                float: right;
                            }
                            .add{
                                display: none;
                            }
                        }
                        ol{
                            display: none;
                            li{
                                padding-left: 40px;
                                line-height: 40px;
                            }
                            li:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                    .rightnavTest:hover ol{
                        display: block;
                    } 
                    .rightnavTest:hover .rightnavTests .subtract{
                        display: none;
                    } 
                    .rightnavTest:hover .rightnavTests .add{
                        display: block;
                    }
                }
            }
        }
        .search{
            float: right;
            border-right: 1px solid gray;
            border-left: 1px solid gray;
            height: 50px;
            input{
                padding-left: 10px;
                border: none;
                outline: none;
                line-height: 46px;
            } 
            span{
                float: right;
                line-height: 50px;
                width: 40px;
                text-align: center;
                height: 50px;
            }
        }
        .search:hover {
            box-shadow: 0 0 2px 2px #4178be;
        }
    }
    .market{
        float: right;
        margin: 8px 20px 8px auto;
        line-height: 32px;
        border: 1px solid #3b6caa;
    }
    .market:hover{
        background: #3b6caa;    
        color: #fff;
    }
}
.banner{
    width: 100%;
    margin-top: 50px;
    background: url(../img/banner.jpg) center center / cover no-repeat #000;
    .bannerText{
        padding: 50px 0 20px 30px;
        width: 44%;
        z-index: 10;
        color: white;
        h1{
            font-size: 45px;
        }
        p{
            line-height: 30px;
        }
        .p2:hover {
            text-decoration: underline;
        }
        .p3:hover {
            text-decoration: underline;
        }
    }
    .bannerText2{
        width: 100%;
        height: 40px;
        ul{
            height: 100%;
            float: right;
            padding: 0 15px;
            background: rgba(0,0,0,0.7);
            li{
                float: left;
                color: white;
                line-height: 40px;
                text-align: center;
                width: 50px;
                padding-left: 10px;
            }
        }
    }   
}
.connet{
    .connet-1{
        .one{
            width: 25%;
            float: left;
            height: 417px;
            h1{
                padding: 20px;
            }
        }
        .two{
            width: 25%;
            float: left;
            height: 417px;
            background: #ecf2f2;
            .two1{
                height: 158px;
                background: url(../img/deve.jpg) center center;
            }
            .two2{
                height: 259px;
                padding: 20px;
                h4{
                    margin-bottom: 20px;   
                }
                p{
                    margin-bottom: 20px;
                }
                .text1{
                    float: left;
                    margin-right: 10px;
                    font-size: 30px;
                    line-height: 40px;
                }
            }
        }
        .three{
            width: 25%;
            float: left;
            height: 417px;
            .two1{
                height: 158px;
                background: url(../img/digital.jpg) center center;
            }
            .two2{
                height: 259px;
                padding: 20px;
                h4{
                    margin-bottom: 20px;   
                }
                p{
                    margin-bottom: 20px;
                }
                .text1{
                    float: left;
                    margin-right: 10px;
                    font-size: 30px;
                    line-height: 40px;
                }
            }
        }
        .four{
            width: 25%;
            background: #ecf2f2;
            float: left;
            height: 417px;
            .two1{
                height: 158px;
                background: url(../img/disdease.jpg) center center;
            }
            .two2{
                height: 259px;
                padding: 20px;
                h4{
                    margin-bottom: 20px;   
                }
                p{
                    margin-bottom: 20px;
                }
                .text1{
                    float: left;
                    margin-right: 10px;
                    font-size: 30px;
                    line-height: 40px;
                }
            }
        }
    }
    .connet-2{
        .connetLeft{
            width: 25%;
            height: 417px;
            background: #4178be;
            float: left;
            h1{
                padding: 50px 20px;
            }
        }
        .connetRight{
            width: 75%;
            background: #4178be;
            float: left;
            color: white;
            .watson{
                float: left;
                width: 33.3333%;
                height: 139px;
                .icon{
                    padding-top: 20px;
                }
                p{
                    padding-left: 20px;
                }
                h4{
                    padding-left: 20px;
                }
                h4:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    .connet-3{
        width: 100%;
        height: 417px;
        background: url(../img/story.jpg) center center / cover no-repeat #000;
        float: left;
        overflow: hidden;
        .connet-3-text{
            width: 60%;
            padding-top: 60px;
            padding-left: 40px;
            color: white;
            .p4{
                line-height: 40px;
            }
            h1{
                margin: 20px auto;
            }
            .read{
                height: 30px;
                width: 150px;
                background: gray;
                line-height: 30px;
                text-align: center;
            }
            .read:hover {
                background: black;
            }
        }
    }
    .connet-4{
        color: white;
        .connetLeft{
            width: 25%;
            height: 417px;
            background: gray;
            float: left;
            h1{
                padding: 50px 20px;
            }
        }
        .connetRight{
            width: 75%;
            float: left;
            background: gray;
            .support{
                float: left;
                width: 33.3333%;
                height: 208.5px;
                .icon{
                    padding-top: 40px;
                }
                p{
                    padding-left: 20px;
                }
                h4{
                    padding-left: 20px;
                }
                h4:hover{
                    text-decoration: underline;
                }
            }
        }
    } 
}
.bottom{
    width: 100%;
    .discover{
        width: 100%;
        .discover-1{
            width: 25%;
            height: 320px;
            overflow: hidden;
            float: left;
            h4{
                margin-top: 40px;
                padding-left: 30px;
                line-height: 40px;
            }
            ul{
                li{
                    padding-left: 30px;
                    line-height: 40px;
                    color: gray;
                }
                li:hover{
                    text-decoration: underline;
                } 
            }
        }
    }
}
.select{
    height: 80px;
    width: 300px;
    padding: 0 10px;
    float: right;
    h4{
        padding-bottom: 10px;
    }
}
.footer{
    clear: both;
    width: 94%;
    height: 60px;
    margin: 0 3%;
    border-top: 1px solid gray;
    ul{
        float: left;
        li{
            float: left;
            padding-right: 20px;
            line-height: 60px;
        }
        li:hover{
            text-decoration: underline;
            color: blue;
        }
    }
    
}
.returntop{
    z-index: 1;
    position: fixed;
    right: -40px;
    bottom: 40px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: white;
    text-align: center;   
    line-height: 40px; 
    a{
        font-size: 30px;
        color: black;        
    }
}
.returntop:hover{
    background: black;
}
.returntop:hover a{
    color: white;
}
@media only screen and (max-width: 1190px) {
    .nav .navul{
        display: none;
    }
    .nav .nav-r .box .zhezhao .rightnav{
        width: 50%;
    }
    .connet{
        .connet-1{
            .one{
                width: 50%;
                float: left;
            }
            .two{
                width: 50%;
                float: left;
            }
            .three{
                width: 50%;
                float: left;
            }
            .four{
                width: 50%;
                float: left;
            }
        }
    }    
}
@media only screen and (max-width: 600px) {
    .nav .market{
        display: none;
    }
    .connet{
        .connet-1{
            .one{
                width: 100%;
                float: left;
            }
            .two{
                width: 100%;
                float: left;
            }
            .three{
                width: 100%;
                float: left;
            }
            .four{
                width: 100%;
                float: left;
            }
        }
        .connet-2{
            .connetLeft{
                width: 100%;
            }
            .connetRight{
                width: 100%;
                .watson{
                    width: 100%;
                }
            }
        }
        .connet-4{
            .connetLeft{
                width: 100%;
            }
            .connetRight{
                width: 100%;
                .support{
                    width: 100%;
                }
            }
        }
    }
    .bottom{
        .discover{
            .discover-1{
                width: 100%;
            }
        }
    }
}